<!DOCTYPE html>
<html xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{_layouts/fixed-sidebar}">
<head>
    <title layout:fragment="header-title">Student Report</title>
</head>
<body>
<section layout:fragment="body-content-breadcrumb">
    <ol class="breadcrumb float-sm-end">
        <li class="breadcrumb-item active">Student Report</li>
    </ol>
</section>

<section layout:fragment="body-title">
    <a th:text="|${student.name} Report|"></a>
</section>

<section class="content" layout:fragment="body-content-main">

    <div class="container mb-5">
        <form th:action="@{/students}" th:object="${student}" method="post">
            <div class="form-group">
                <label for="name">Student Name</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Enter student name" required/>
            </div>
            <div class="form-group">
                <label for="email">Student Email</label>
                <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Enter student email" required/>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Edit Data</button>
        </form>

        <div class="box-tools mt-3">
            <div class="d-flex justify-content-between mb-3">
                <form class="align-middle" th:action="@{/learning/report(studentId=${student.id})}" method="get">
                    <input type="hidden" name="studentId" th:value="${student.id}" />
                    <div class="input-group input-group-sm" style="width: 59vw;">
                        <input type="text" name="value" class="form-control pull-right"
                               placeholder="Search" th:if="${key} == null"/>
                        <input type="text" name="value" class="form-control pull-right"
                               placeholder="Search" th:if="${key} != null"
                               th:value="${key}"/>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <a class="btn btn-primary align-middle" th:href="@{/learning/insert-score(studentId=${student.id})}">Insert New Score</a>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col"><a class="fa fa-fw fa-sort text-decoration-none"></a><a class="sorted text-decoration-none" sd:sort="date">Period</a></th>
                    <th scope="col"><a class="fa fa-fw fa-sort text-decoration-none"></a><a class="sorted text-decoration-none" sd:sort="id">Course Code</a></th>
                    <th scope="col"><a class="fa fa-fw fa-sort text-decoration-none"></a><a class="sorted text-decoration-none" sd:sort="name">Course</a></th>
                    <th scope="col"><a class="fa fa-fw fa-sort text-decoration-none"></a><a class="sorted text-decoration-none" sd:sort="score">Score</a></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="score : ${courseScores}">
                    <td th:text="|${score.year}, ${score.semester}|"></td>
                    <td th:text="${score.course.id}"></td>
                    <td th:text="${score.course.name}"></td>
                    <td th:text="${score.score}"></td>
<!--                    <td>-->
<!--                        <form id="insert-student-[[${student.id}]]" th:action="@{/schools/{schoolId}/insert-student(schoolId=${school.id})}" method="post">-->
<!--                            <input type="hidden" name="studentId" th:value="*{student.id}"/>-->
<!--                            <button class="btn btn-primary btn-sm"-->
<!--                                    th:onclick="|return confirm('Are you sure you want to insert this student with the id ${student.id}?');|" th:text="Insert"></button>-->
<!--                        </form>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
<!--            <div th:if="${error}" th:text="${error}" class="text-danger mt-2"></div>-->
<!--            <div th:if="${success}" th:text="${success}" class="text-success mt-2"></div>-->
<!--            <div th:if="${not #lists.isEmpty(students.content)}" class="d-flex justify-content-center">-->
<!--                <div class="d-flex flex-column">-->
<!--                    <div sd:pagination-summary="" class="d-flex justify-content-center">info</div>-->
<!--                    <div class="text-center d-flex">-->
<!--                        <nav>-->
<!--                            <ul class="pagination" sd:pagination="full">-->
<!--                                <li class="disabled"><a href="#" aria-label="Previous"><span-->
<!--                                        aria-hidden="true">&laquo;</span></a></li>-->
<!--                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>-->
<!--                            </ul>-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <a class="btn btn-secondary mt-3" th:href="@{/schools/view/{id}(id=${student.school.id})}">Back to List</a>
        </div>
    </div>



</section>

<section layout:fragment="body_scripts" th:remove="tag">
</section>
</body>
</html>